@model OrderVM_Lite;

<div class="row">
    <div class="col-6 col-md-2">
        <a asp-area="Admin" asp-controller="Engineering" asp-action="TimeTrackerReports" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
            <small>Back</small>
        </a>
    </div>
</div>

<div class="row">
    <h2 class="text-primary">Report</h2>
</div>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
        </div>

    </div>
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Calculate " class="btn btn-primary" />
        </div>
    </div>

}

@section Scripts {
    <script>

        $(document).ready(function () {
            $("#reportForm").submit(function (e) {
                report();
                return false;
            });
        });

        function report() {
            var params;

            params = '&fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val();

            $.ajax({
                type: 'GET',
                url: '/admin/order/orderlistreport?' + params,
                success: function (results) {
                    $('#searchResults').empty();

                    $.each(results, function (orderlistreport, order) {
                        var html =
                            '<tr>' +
                            '<td>' + order.Id + '<td>' +
                            '<td>' + order.OrderDate + '<td>' +
                            '<td>' + order.PurchaseOrderNo + '<td>' +
                            '<td>' + order.Email + '<td>' +
                            '<td>' + order.ListOrderTotal + '<td>' +
                            '<td>' + order.OrderTotal + '<td>' +
                            '<tr>';

                        $('#searchResults').append(html.toString());
                    });

                },
                error: function () {
                    alert('Error performing search, try again later!')
                }


            });

        }

    </script>
}
