<div class="container mt-4">
    <div style="text-align: center">
        <br />
        <br />
        <br />
        <br>
        @*<div class="row">
            <br />
            <div class="col-11 text-left">
                <img src="/Images/flodraulic.jpg" alt="image">
            </div>
        </div>*@
        <div class="row">
            <br />
            <div class="col-12 text-center">
                <h2 class="text-danger">Flodraulic Portal</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="LandingPageCryo" class="btn">
                    <i class="bi bi-cpu"></i> Cryo Portal
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx" aria-hidden="true"></i></h3>
                <a asp-controller="Home" asp-action="SupplyChain" class="btn">
                    <i class="bi bi-cpu"></i> Supply Chain
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="Quality" class="btn ">
                    <i class="bi bi-cpu"></i> Quality
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-area="Customer" asp-controller="Home" asp-action="Engineering" class="btn ">
                    <i class="bi bi-cpu"></i> Engineering
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="Sales" class="btn ">
                    <i class="bi bi-cpu"></i> Sales
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-area="Admin" asp-controller="Ticket" asp-action="Index" class="btn">
                    <i class="bi bi-cpu"></i> Help Desk
                </a>
                @*<a href="/Admin/Ticket/Index" class="btn btn-primary">
                    <i class="bi bi-activity"></i> IT
                </a>*@
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="Finance" class="btn ">
                    <i class="bi bi-cpu"></i> Finance
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="AI" class="btn ">
                    <i class="bi bi-cpu"></i> AI
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="HR" class="btn ">
                    <i class="bi bi-cpu"></i> HR
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="Maintenance" class="btn ">
                    <i class="bi bi-cpu"></i> Maintenance
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="Safety" class="btn ">
                    <i class="bi bi-cpu"></i> Safety
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-controller="Home" asp-action="Archive" class="btn ">
                    <i class="bi bi-cpu"></i> Archive
                </a>
            </div>
        </div>

    </div>

</div>


@*@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">As low as:
                                    <span>
                                        @product.Price100.ToString("c")
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                            asp-route-productId="@product.Id"
                            class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
*@